.bg_absolute {
    position: absolute;
    background-image: url('../images/bg_asistans.png');
    background-size: cover;
    top:0;
    left: 0;
    right: 0;
    height: 100vh;
}
.head_text{
    margin-top: 40vh;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
.offset_top{
    margin-top: 300px;
}

.assistance__main-principle {
    position: relative;
    top: 50%;
    right: -10%;
    transform: translateY(-50%);
}

.absol{
    position: relative;
    left: -35%;
    width: 120%;
    height: 30em;
}
.absol img{
    height: 100%;
    width: 100%;
}
.container_fluid-custom{
    position: relative;
    margin-top: 100px;
    /* margin-bottom: 400px; */
}

@media (max-width: 991px) {
    .assistance__main-principle {
        position: unset;
        transform: none;
        
    }
    .absol{
        position: static;
        width: auto;
        height: auto;
    }
}