.car-card__img-container {
  height: 206px;
  overflow: hidden;
}

.car-card__spec-name {
  margin-left: 2px;
  vertical-align: center;
  display: inline-block;
}

.car-card__spec-icon {
  vertical-align: center;
  margin-top: -3px;
}

.car-info__info-list {
  margin-top: 13px;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.car-info__info-item-title {
  margin-left: 12px;
}

.car-info__price-list {
  padding: 0;
  display: flex;
}

.car-info__price-list-item {
  list-style: none;
  text-align: center;
  width: 100%;
}

.car-info__price-list-item:not(:first-child):not(:last-child) {
  margin: 0 5px;
}

.car-info__price-list-days,
.car-info__price-list-price {
  padding: 8px 1px;
}

.car-info__price-list-days {
  background-color: var(--color-grey_light);
}
