.car-card__img-container {
  height: 206px;
  overflow: hidden;
}

.car-card__spec-name {
  margin-left: 12px;
  vertical-align: center;
  display: inline-block;
}

.car-card__spec-icon {
  vertical-align: center;
  margin-top: -3px;
}
