.card_border {
  border: none;
}

.card_border .card-header {
  display: block !important;
}

.card_back {
  background-color: #e0e0e0;
}
.card_height {
  height: 40px;
}

.faq_section {
  margin-top: 150px;
}
