.footer {
  background-color: var(--color-grey_light);
  padding: 73px 0;
  margin-top: 100px;
}

.footer__menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.footer__social-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.footer__up-btn {
  border: none;
  background: none;
  position: fixed;
  right: 50px;
  bottom: 0;
  z-index: 1000;
  transform: translateY(-50px);
  transition: transform 0.2s ease-in-out;
}

.footer__up-btn.hidden {
  transform: translateY(100%);
}

.mp-bg-color-violet {
  background-color: #5c66af;
}
.mp-coll {
  min-width: 40px;
  min-height: 40px;
  position: fixed;
  bottom: 125px;
  right: 51px;
  border-radius: 50px;
  padding: 5px;
  border: 3px solid #f0f1f7;
  z-index: 10001;
}
.mp-bt-coll {
  width: 40px;
  height: 40px;
  position: relative;
}
.mp-social {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}
.cb-close,
.shows div {
  display: none;
}
.cb-close {
  position: absolute;
  top: 0;
  left: 0;
}
.cb-inst-cls-1 {
  fill: #f3f3f3;
}

.cb-inst-cls-2 {
  fill: none;
  stroke: #5c67ae;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 34.57px;
}

.cb-inst-cls-3 {
  fill: #5c67ae;
}

.cb-viber-cls-1 {
  fill: #f3f3f3;
}

.cb-viber-cls-2 {
  fill: #5c67ae;
}

.cb-telegram-cls-1 {
  fill: #f3f3f3;
}

.cb-telegram-cls-2 {
  fill: #5c67ae;
}

.cb-close-cls-1 {
  fill: #f3f3f3;
}

.cb-close-cls-2 {
  fill: none;
  stroke: #5c67ae;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 21.49px;
}

.cb-phone-cls-1 {
  fill: #5c67ae;
}

.cb-phone-cls-2 {
  fill: #f3f3f3;
}

@media (max-width: 768px) {
  .footer__up-btn {
    right: 25px;
    transform: translateY(-25px);
  }

  .mp-coll {
    bottom: 100px;
    right: 25px;
  }
}
@media (max-width: 560px) {
  .footer__up-btn {
    right: 20px;
    transform: translateY(-58px);
  }
  .mp-coll {
    right: 21px;
    bottom: 120px;
  }
}
