@media(max-width: 991px) {
  .footer__logo {
    width: 100%;
    display: block;
    text-align: center;
  }

  .footer__menu {
    display: block;
    text-align: center;
    margin-top: 15px;
  }
  
  .footer__menu-item {
    margin-top: 5px;
  }

  .footer__social-list {
    justify-content: space-evenly;
    text-align: center;
    margin-top: 25px;
  }

  .footer__social-item img {
    width: 50px;
  }

  .footer__up-btn {
    margin-left: auto;
    margin-top: 25px;
    display: block;
  }
}