.slider__container_hero .swiper-pagination {
  text-align: right;
}

.slider__container_hero
  .swiper-pagination
  > .swiper-pagination-bullet:last-child {
  margin-right: 15%;
}

.swiper-slide {
  left: -1px;
  right: -1px;
}

.slider__container_hero .swiper-pagination-bullet {
  background-color: var(--color-white);
  width: 40px;
  height: 3px;
  opacity: 1;
  border-radius: 20px;
}

.slider__container_hero .swiper-pagination-bullet:not(:last-child) {
  margin: 0 5px !important;
}

.slider__container_hero .swiper-pagination-bullet-active {
  background-color: var(--color-black);
}

.hero-cta-box {
  height: 100vh;
  z-index: 2;
}

.hero-cta-box__title-box {
  margin-bottom: 44px;
}

.hero-cta-box__title-box > h1 {
  line-height: 1.3;
}

.hero-cta-box__title {
  display: block;
  margin-bottom: 0.3rem;
}

.hero-cta-box__subtitle {
  display: block;
  margin-bottom: 1rem;
}

.slider__container_hero {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 45vw;
}

.slider__container_hero::before {
  content: '';
  display: block;
  background-image: url('../images/windrose.png');
  opacity: 0.35;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 10vw;
  border-bottom-left-radius: 75px;
  z-index: 1;
}

.item-1,
.item-2,
.item-3 {
  position: absolute;

  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.item-1 {
  animation-name: anim-1;
}

.item-2 {
  animation-name: anim-2;
}

.item-3 {
  animation-name: anim-3;
}

@keyframes anim-1 {
  0%,
  8.3% {
    opacity: 0;
  }
  8.3%,
  25% {
    opacity: 1;
  }
  33.33%,
  100% {
    opacity: 0;
  }
}

@keyframes anim-2 {
  0%,
  33.33% {
    opacity: 0;
  }
  41.63%,
  58.29% {
    opacity: 1;
  }
  66.66%,
  100% {
    opacity: 0;
  }
}

@keyframes anim-3 {
  0%,
  66.66% {
    opacity: 0;
  }
  74.96%,
  91.62% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
