@media (max-width: 1199px) {
  .slider__container_hero::before {
    left: 20vw;
  }
}

@media (max-width: 1120px) {
  .slider__container_hero::before {
    left: 22vw;
  }
}

@media (max-width: 991px) {
  .slider__container_hero {
    max-width: 60vw;
    display: none;
  }

  .rent-step__line {
    width: 15%;
  }

  .rent-step__line-icon {
    width: 150%;
  }

  .loyalty__car {
    position: unset;
    transform: none;
    margin-top: 25px;
    margin-bottom: 50px;
  }

  .loyalty__row {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .hero-cta-box {
    height: unset;
  }

  .news-title {
    margin-top: 500px;
  }

  .rent-step__line {
    display: none;
  }
}

@media (max-width: 450px) {
  .news-title {
    margin-top: 380px;
  }
}
