@media (max-width: 992px) {
  .slider__container_hero {
    max-width: 60vw;
  }
  
  .slider__container_hero:before {
    left: 30%;
  }
}

@media (max-width: 768px) {
  .hero-cta-box {
    padding-top: 75px;
    height: unset;
  }

  .slider__container_hero {
    max-width: 100vw;
    top: 350px;
    bottom: unset;
  }
  
  .slider__container_hero:before {
    background-color: transparent;
  }

  .news-title {
    margin-top: 500px;
  }
}

@media (max-width: 450px) {
  .slider__container_hero {
    top: 380px;
  }

  .news-title {
    margin-top: 380px;
  }
}