@media (max-width: 1199px) {
  .slider__container_hero::before {
    left: 20vw;
  }
}

@media (max-width: 1120px) {
  .slider__container_hero::before {
    left: 22vw;
  }
}

@media (max-width: 991px) {
  .slider__container_hero {
    display: none;
  }

  .slider__container_hero::before {
    display: none;
  }

  .hero-cta-box::before {
    content: '';
    display: block;
    background-image: url('../images/windrose.png');
    opacity: 0.35;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 150px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom-left-radius: 75px;
    z-index: -1;
  }

  .rent-step__line {
    width: 15%;
  }

  .rent-step__line-icon {
    width: 150%;
  }

  .loyalty__car {
    position: unset;
    transform: none;
    margin-top: 25px;
    margin-bottom: 50px;
  }

  .loyalty__row {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .hero-cta-box {
    height: unset;
  }

  .news-title {
    margin-top: 500px;
  }

  .rent-step__line {
    display: none;
  }
}

@media (max-width: 450px) {
  .news-title {
    margin-top: 380px;
  }
}
