.navbar_semi-transparent {
  background-color: var(--color-grey_light-transparent);
}

.navbar_grey {
  background-color: var(--color-grey_light);
}

.navbar__menu-list {
  margin-left: 117px;
}

.navbar__menu-language {
  margin-left: auto;
  margin-right: 135px;
}

.navbar-text_dark a.nav-link,
.navbar-text_dark button.nav-link {
  color: var(--color-black) !important;
}
.navbar-text_dark a.nav-link:hover,
.navbar-text_dark button.nav-link:hover {
  color: var(--color-black_hover) !important;
}

.navbar-text_light a.nav-link,
.navbar-text_light button.nav-link {
  color: var(--color-white) !important;
}
.navbar-text_light a.nav-link:hover,
.navbar-text_light button.nav-link:hover {
  color: var(--color-white_hover) !important;
}

.nav__lang-btn::after {
  color: var(--color-black) !important;
}

.contact-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 1001;
}

@media (max-width: 1199px) {
  .navbar__menu-language {
    margin-right: 110px;
  }
}

@media (max-width: 991px) {
  .navbar__menu-list {
    margin-left: 0;
  }

  .navbar__menu-language {
    margin-left: 0;
    margin-right: 0;
  }

  .contact-modal {
    width: 90%;
  }
}
