.news-title {
  /* margin-top: 10px; */
  margin-bottom: 44px;
}

.news-card {
  display: block;
  overflow: hidden;
}

.news-card__info-box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 54px;
  text-align: center;
  padding: 6px 0;
  background-color: var(--color-grey_light);
}

.news-card__title {
  color: var(--color-black);
  font-weight: 400;
  font-size: 18px;
}

.news-card__description {
  color: var(--color-black);
}

.news-card__lower-case {
  font-size: 18px;
}

@media (max-width: 767px) {
  .offset-dis_able {
    margin-top: 0 !important;
  }
  .main-news_offset-disable {
    margin-top: 150px !important;
  }
}
