.news-title {
  margin-top: 150px;
  margin-bottom: 44px;
}

.news-card {
  display: block;
  max-height: 255px;
  position: relative;
  overflow: hidden;
}

.news-card__info-box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 6px 0;
  background-color: var(--color-grey_light);
}

.news-card__title {
  color: var(--color-black);
  font-weight: 400;
  /* text-transform: uppercase; */
  max-height: 45px;
}

.news-card__description {
  color: var(--color-black);
}
.news_in-block {
  max-height: 400px;
}
