.option {
  display: flex;
}

.option__checkbox-label {
  background-image: url('../images/book/plus-square.svg');
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.option__checkbox:checked + .option__checkbox-label {
  background-image: url('../images/book/minus-square.svg');
  width: 24px;
  height: 24px;
}

.option__checkbox {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}

.option__text {
  padding-left: 1rem;
}