.price-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: var(--color-red);
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 18px;
  margin: 0 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.price-fixed__text {
  font-size: 1rem;
}

.price-fixed__price {
  font-weight: 500;
  font-size: 1.4rem;
}
