.rent_with_driver {
  /* margin-top: 150px; */
  min-height: 768px;
  height: 100vh;
  background-image: url('../images/benz.png');
  background-size: cover;
  position: relative;
  /* opacity: 0.15; */
}
.rent_with_driver:after {
  content: '';
  position: absolute;
  /* display: none; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.transfer-offset {
  padding-top: 150px;
  padding-bottom: 50px;
  z-index: 4;
  position: relative;
}
.rent_form {
  border: 1px solid #9e9e9e;
  border-radius: 10px;
  padding: 41px 48px 41px 48px;
  position: relative;
  z-index: 3;
}

.transf_border {
  border-radius: 10px;
  padding: 12px 5px;
  margin-bottom: 0;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
}

.rent_with_driver__input {
  background: transparent !important;
  color: #fff;
}

.rent_with_driver__input[type='date'] {
  background: transparent url(../images/rent_with_driver/calendar_no_bg.svg) 97%
    50% no-repeat !important;
  color: #fff;
}

.rent_with_driver__input::placeholder {
  color: #fff !important;
}
.rent_with_driver__input[type='text'] {
  color: white;
}

.transf-location {
  border: 1px solid #9e9e9e;
  border-radius: 5px;
  padding: 18px 25px;
}

.transf-location p {
  font-size: 14px;
  line-height: 16px;
  color: #9e9e9e;
}

.transf_date-container {
  padding: 20px 25px;
}

.transf_date {
  border: 1px solid #9e9e9e;
  border-radius: 5px;
}

.transf_date p {
  font-size: 14px;
  line-height: 16px;
  color: #9e9e9e;
  margin-bottom: 10px;
}

.transf_input {
  border: none;
  font-size: 1rem;
  line-height: 21px;
  color: var(--color-black);
  width: 100%;
}

.transf-date__input {
  padding: 20px 25px;
}

.transf_input::placeholder {
  color: var(--color-black);
}

.transf_time_input {
  border: none;
  font-size: 1rem;
}

.rent_form button {
  display: block;
  position: absolute;
  border: none;
  width: 127px;
  height: 34px;
  background: var(--color-red);
  border-radius: 10px;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-white);
  bottom: -2.5%;
  right: 6%;
}

.visually-hidden:checked ~ .transf_border {
  border: 1px solid #9e9e9e;
}

[type='date'] {
  background: #fff url(../images/rent_with_driver/calendar_no_bg.svg) 97% 50%
    no-repeat;
}

[type='time']::-webkit-calendar-picker-indicator {
  background: transparent url(../images/rent_with_driver/time.svg) 97% 50%
    no-repeat;
}

[type='date']::-webkit-inner-spin-button {
  display: none;
}

[type='date']::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.input_radio_transfer {
  display: inline-block;
}

@media (max-width: 992px) {
  .rent_with_driver {
    height: auto;
  }
  .icon_transfer-dis {
    display: none;
  }
}

@media (max-width: 560px) {
  .margin_down {
    margin-top: 2em;
  }
  .transf_border {
    width: 100%;
  }
  .input_radio_transfer {
    width: 100%;
  }
}
