:root {
  --color-black: #212121;
  --color-black_hover: #5f5f5f;
  --color-grey: #9e9e9e;
  --color-red: #e31e24;

  --color-grey_light: #f2f2f2;
  --color-grey_light-transparent: rgba(242, 242, 242, 0.1);
  --color-white: #ffffff;
  --color-white_hover: #cacaca;
}
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

sub,
sup {
  line-height: 1.3;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Medium.ttf');
  font-weight: 500;
}

html {
  font-size: 18px;
}

body {
  font-family: 'Gilroy', sans-serif;
}

h1,
h2,
h3,
h4,
p {
  font-weight: 400;
  margin: 0;
  margin-bottom: 0;
  margin-top: 0;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.1rem;
}

h5,
h6 {
  margin-bottom: 0;
  margin-top: 0;
}

p {
  font-size: 1rem;
}

.input {
  width: 100%;
  padding: 8px 17px;
  border: 1px solid var(--color-grey);
  border-radius: 10px;
  font-size: 1rem;
  color: var(--color-black);
}

.input::placeholder {
  color: var(--color-grey);
}

.text_black {
  color: var(--color-black);
}

a.text_black:hover {
  color: var(--color-dark);
}

.text_grey {
  color: var(--color-grey);
}
.text_red {
  color: var(--color-red);
}

.btn_main {
  padding: 0.9rem 0;
  width: 100%;
  display: inline-block;
  transition: 0.1s ease-in-out;
  text-align: center;
  text-decoration: none;

  border: none;
  border-radius: 10px;
  background-color: var(--color-red);
  color: var(--color-white);
}

.btn_main:hover:not(:disabled) {
  background-color: var(--color-black);
  color: var(--color-white);
  text-decoration: none;
}

.btn_main:disabled {
  background-color: var(--color-grey_light);
  color: var(--color-black);
}

.btn_slim {
  padding: 10px 0;
}

.btn_nav {
  padding: 9px 52px;
}

.img-responsive {
  display: block;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-position: center;
}

.img-responsive_cover {
  object-fit: cover;
}

.img-responsive_contain {
  object-fit: contain;
}

.img-responsive_right {
  object-position: right;
}

.navbar-offset {
  margin-top: 130px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}
