body{
    box-sizing:border-box;
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}
/* the menu style */

.img_responsive_container > img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

/* .navbar-brand{
    margin-left: 120px !important;
} */

/* end of the menu style */
    .hero_heading{
        margin-top: 35vh;
        z-index: 99;
    }
/* header styling */
header{
    position: relative;
    height: 100vh;
}

.navbar{
    transition: 0.3s background ease-in-out;
}

.slider_hero_absolute{
    position: absolute;
    right: 0;
    top:144px;
}
.hero_slider_box{
    max-width: 1038px;
}
.hero_slider_box img{
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.swiper-container {
    max-width: 900px;
    /* width: 100%; */
    height: 550px;
}
.hero_slider_background{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    background-color: #C4C4C4;;
    min-width: 460px;
    height: 100vh;
    border-bottom-left-radius: 75px;
}
.swiper-pagination-bullet{
    width: 40px;
    height: 3px;
    opacity: 1;
    background:#fff;
    border-radius: 20px;
}
.swiper-pagination-bullet-active{
    background: #212121;
    opacity: 1;
}
.swiper-pagination{
    text-align: right;
    padding-right: 15%;
    bottom: 0 !important;
}
.social_icon{
    display: block;
    margin-top: 48px;
}
.social_icon:nth-child(1){
    margin-left: 3px;
}
.social_icon:nth-child(3){
    margin-left: 4px;
}
.hero_social{
    position: absolute;
    left:38px;
    bottom: 110px;
}
.hero_main_link{
    margin-top: 250px;
}
.hero_heading span{
    line-height: 30px;
    text-align: center;
    color: #9E9E9E;
}
.main_button{
    background: #9E9E9E;
    width: 261px;
    height: 55px;
    border:none;
    border-radius: 10px;
    color:#FFFFFF;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-top: 44px;
}
.main_button:hover{
    background-color: #212121;
    transition: 0.5s background ease-in-out;
}
/* end of header */


/* the news section */
.section_news{
    margin-top: 150px;
}
.card_relative{
    height: 255px;
    display: block;
}
.news_card_img {
    width: 100%;
    height: 100%;
}
.section_news h2{
    margin-bottom: 44px;
}
.card_relative{
    position: relative;
}
.card_content_box{
    position: absolute;
    bottom: 0;
    right: 0;
    background: #9E9E9E;
    border-radius: 20px 0px 0px 0px;
    width: 75%;
    padding: 11px 0px 0 38px;
}
.card_content{
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.card_content span{
    font-size: 18px;
    line-height: 21px;
    color: #212121;
    text-transform: none;
}
/* end of news section */

/* the how it works section */
.how_it_works{
    margin-top: 100px;
}
.icon_container img{
    display: block;
}
.icon_container{
    position: relative;
}
.icon_box {
    width: 98px;
    height: 98px;
    border-radius: 20px;
    background: #9E9E9E;
    position: relative;
    margin: 0 auto;
}
.icon_absolute{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.icon_description {
    position: absolute;
    left: 50%;
    width: 200%;
    text-align: center;
    transform: translateX(-50%);
    margin-top: 30px;
}
.col_line img {
    width: 100%;
}
.line_position_first{
    margin-top: 18%;
    /* padding-right: 60px; */
}
.line_position_last{
    margin-top: 11%;
    /* padding-right: 60px; */
}
#how_it_works_title{
    line-height: 30px;
    color: #9E9E9E;
}
.how_it_works h2{
    line-height: 30px;
    color: #212121;
    margin-top: 15px;
    margin-bottom: 92px;
}
.how_it_works p{
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #9E9E9E;
}
/* the end of how it works section */


/* the loyal section */
.program_loyal{
    margin-top: 200px;
}
.icon_cirle{
    width: 68px;
    height: 68px;
    background: #F2F2F2;
    position: relative;
    margin-right: 20px;
    border-radius:50%;
}
.info_line{
    display: flex;
    position: relative;
    left: 0;
    margin-top: 30px;
}
.second_loyal{
    margin-top: 140px;
}
/* the end of loyal section */
/* slider section */
.slider_section{
    margin-top: 150px;
}
/* end of slider section */